body{
    background-color: black;
    text-align: center;
}

.header--main{
    font-family: 'Verdana';
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.link{
    color: aquamarine;
    font-size: 16px;
}

.header--secondary{
    font-family: 'Verdana';
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.paragraph--sub{
    font-family: 'Verdana';
    font-size: 21px;
    color: gray;
}

.copyright-footer{
    text-align: right;
    color: gray;
    font-size: 21px;
}